# macos
.DS_Store

# source code
*.o
*.obj
*.elf
*.dSYM
build

# TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
tex/assets/asconfigures/

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*-converted-to.*